.formulario{
    background-color: var(--blanco);
    margin: -2rem auto 5rem auto;
    width: 80%;
    padding: 5rem;
    select {
        background-color: $blanco;
        color: $negro;
        border: 1px solid $negro;
        padding: 5px;
        font-size: 16px;
        border-radius: 5px;
        width: 200px;
    }    
    .imagen-small{
        margin-left: 11rem;
        width: 10rem;
    }
}


.formulario fieldset{
    border-radius: 13px;
    border-color: #9b9b9b;
}

.campo{
    display: flex;
    margin-bottom: 2rem;
    gap: 2rem;
    
}

@media (min-width: 768px) {
    .campo__label{
        flex: 0 0 9rem;
        text-align: right;
    }

    .campo__field{
        flex: 1;
        border: .3px solid $negro;
        border-radius: .5rem;
    }

    .campo__field--textarea{
        height: 20rem;
    }
}


.archivo-actual{
    font-size: 1.6rem;
    margin-left: 11rem;
}

// #mensajes-error {
//     background-color: $rojo; /* Establece el color de fondo rojo o el que desees */
//     color: white; /* Configura el color del texto */
//     padding: 10px; /* Añade un relleno para que el mensaje sea visible */
//     display: none; /* Inicialmente oculta el elemento */
// }

.alerta{
    display: none;
    background-color: $rojo;
    padding: .5rem;
    text-align: center;
    color: $blanco;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1rem 0;


    &.error{
        background-color: $negro;
    }

    &.exito{
        background-color: $verde;
    }
}
#mensajes-error {
    background-color: $blanco; // Establece el color de fondo rojo o el que desees
    display: none; // Inicialmente oculta el elemento
  }
  
#mensajes-error.error {
    background-color: $rojo;
    display: block; // Muestra el elemento cuando tiene la clase 'error'
}
  
.alerta-correo{
    border-radius: 1rem;
}
.bg-verde{
    background-color: $verde;
}

#login-error{
    background-color: $rojo;
}

.bg-rojo{
    background-color: $rojo;
}

